<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984868387038-7ni62h613e8df34am1tv4pqfm5mf37dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984868387038-7ni62h613e8df34am1tv4pqfm5mf37dq</string>
	<key>API_KEY</key>
	<string>AIzaSyBvMqWomgSu9hbZmbvJYwrmHmmLbXo-L8s</string>
	<key>GCM_SENDER_ID</key>
	<string>984868387038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rango-facil</string>
	<key>PROJECT_ID</key>
	<string>rango-facil-renan-loureiro</string>
	<key>STORAGE_BUCKET</key>
	<string>rango-facil-renan-loureiro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984868387038:ios:062ba88ccdd8fb8bfc6a4f</string>
</dict>
</plist>